* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

body {
  height: 100%;
  width: 100%;
}

.bcg-blur img {
  height: 100%;
  position: absolute;
  /* position: static; */
  right: 25%;
  filter: blur(7px);
}

.container {
  position: absolute;
  top: 20%;
  left: 35%;
  color: white;
  width: 30%;
  height: 30%;
  margin: 8% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* z-index: 10; */
}

.container img {
  width: 80%;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.247);
}

.player {
  border: 2px solid black;
  height: 200px;
  width: 100%;
  border-radius: 20px;
  margin: 20px;
  background-color: black;
  opacity: 0.6;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.player audio {
  display: none;
}

.songInfoBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.songInfoBlock :first-child {
  font-size: 25px;
  color: white;
}

.songInfoBlock :last-child {
  font-size: 20px;
  color: rgb(172, 172, 172);
}

.progress-bar {
  background-color: hsl(0, 1%, 25%);
  height: 5px;
  width: 90%;
  border-radius: 10px;
  cursor: pointer;
  transition: height 0.4s ease-out;
}

.progress-bar:hover {
  height: 10px;
}

.progress {
  border-radius: 10px;
  width: 0;
  height: 100%;
  background-color: white;
}

.playerButton {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  height: 50px;
  width: 50px;
  background-color: black;
  opacity: 0.6;
  color: white;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .bcg-blur img {
    height: inherit;
    position: inherit;
    right: inherit;
  }
}

@media screen and (max-width: 600px) {
  .songInfoBlock :first-child {
    font-size: 20px;
  }

  .songInfoBlock :last-child {
    font-size: 15px;
  }

  .btn {
    height: 30px;
    width: 30px;
    font-size: 20px;
  }
}
